body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
main {
  flex-grow: 1;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1158;
  margin-left: 15px;
  margin-right: 15px;
}
/* ---------------------Header-------------------------- */
.header-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 156px;
  padding-right: 156px;
}
.header {
  background: #fff;
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-right: 72px;
}
.header-logos {
  color: #2e2f42;
}

.navigation-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navigation-item {
}
.navigation-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-link:hover {
  color: #404bbf;
}
.navigation-link:focus {
  color: #404bbf;
  text-decoration: underline;
}
.address-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address-item {
}
.address {
  font-style: normal;
}
.address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
  text-decoration: underline;
}
/* ------------------------------------------------ */
/* ------------------Hero-------------------------- */
.hero-container {
}
.section-hero {
  background: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button {
  background: #4d5ae5;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  gap: 10px;
}
.button:hover {
  background: #404bbf;
}
.button:focus {
  background: #404bbf;
}

/* ------------------------------------------------ */
/* ------------------advantages-------------------- */
.adv-container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-adv-navigation {
}
.section-adv-navigation-item {
}
.section-advantages {
  background: #fff;
}
.section-adv-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-adv-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------------------------------------ */
/* ------------------Our Team---------------------- */
.team-container {
}
.section-team {
  background: #f4f4fd;
}
.section-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-team-navigation {
}
.section-team-navigation-item {
  background: #ffffff;
}
.section-team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ------------------------------------------------ */
/* ------------------Portfolio--------------------- */
.folio-container {
}
.section-folio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-folio-navigation {
}
.section-folio-navigation-item {
  background: #ffffff;
}
.section-folio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-folio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------------------------------------ */
/* ------------------Footer------------------------ */
.footer-container {
}
.basement {
  background: #2e2f42;
}
.basement-discr {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {
}
.basement-logoz {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
